@{
  RegisterScript("js/40fingers-headings-toc.js");
}

@{
    string selectElements = "h2,h3";
    string skipChildrenSelector = "";
    string skipItemsSelector = "";

    if (Model != null && Model.Settings != null)
    {
        if (!string.IsNullOrWhiteSpace(Model.Settings.SelectElements))
        {
            selectElements = Model.Settings.SelectElements;
        }

        if (!string.IsNullOrWhiteSpace(Model.Settings.SkipChildrenSelector))
        {
            skipChildrenSelector = Model.Settings.SkipChildrenSelector;
        }

        if (!string.IsNullOrWhiteSpace(Model.Settings.SkipItemsSelector))
        {
            skipItemsSelector = Model.Settings.SkipItemsSelector;
        }
    }
}

<div class="oc-heading-toc">
	<div id="heading-toc-@Model.Context.ModuleId">
	</div>
</div>


<script>
	// Run after DOM is fully loaded
	document.addEventListener("DOMContentLoaded", () => {
	  generateTOC("@selectElements", "@skipChildrenSelector", "@skipItemsSelector", "#heading-toc-@Model.Context.ModuleId", "@Model.Context.ModuleId");
	});
</script>