{{registerstylesheet "style.css"}}


<h4 class="block-head">Float Test</h4>

<div style="border:dotted 1px #d00;width:49%;float:left;">
<p><h3>Test your container with floated content</h3></p>

<p>Is users use floats in the content of the HTML module (for example by right-aligning an image), they will most likely not clear these floats.<br />
The effect can be that the content sticks out below the end of the container.</p>

<p>You should add a clear:both to the first element of your container after the Content Pane to make sure that does not happen.</p>
This content helps to test if your container was cleared correctly.<br />
For this test to work this should be the last content in the HTML module!</div>

<div style="border:dotted 1px #d00;width:49%;float:right;">
<p><strong>Dummy Content</strong></p>
In ac urna in eros auctor dictum vitae nec arcu? Curabitur eu dolor sit amet mi pulvinar lacinia. Phasellus dictum congue dui nec condimentum. Duis porttitor elementum quam in hendrerit. Nunc in nunc purus, eu venenatis augue. Integer consequat tincidunt eros ut interdum. Proin id dui et nulla venenatis tristique. Aenean nec nulla est, at egestas leo. Fusce aliquam ipsum sit amet velit dictum sed bibendum massa malesuada. Nullam nec neque lorem, non convallis sem. Proin posuere, urna eget porta venenatis, ante augue facilisis nibh, ullamcorper convallis sapien velit et mi.</div>
