{{registerstylesheet "style.css"}}
<h4 class="block-head">About:</h4>

<p>The following tests, include most CSS classes used by DNN and some commonly used elements</p>

<h4 class="block-head">Headings</h4>

<h1>Head H1</h1>

<h2>Head H2</h2>

<h3>Head H3</h3>

<h4>Head H4</h4>

<h5>Head H5</h5>

<h6>Head H6</h6>
<!-- Next -->

<h4 class="block-head">Link inside Heading</h4>

<h1><a href="https://www.40fingers.net" target="_blank">Head H1</a></h1>

<h2><a href="https://www.40fingers.net">Head H2</a></h2>

<h3><a href="https://www.40fingers.net">Head H3</a></h3>

<h4><a href="https://www.40fingers.net">Head H4</a></h4>

<h5><a href="https://www.40fingers.net">Head H5</a></h5>

<h6><a href="https://www.40fingers.net">Head H6</a></h6>
<!-- Next -->
<h4 class="block-head">Headings inside a Link</h4>

<a href="https://www.40fingers.net" target="_blank">
<h1>Head H1</h1>
</a>
<a href="https://www.40fingers.net">
<h2>Head H2</h2>
</a>
<a href="https://www.40fingers.net">
<h3>Head H3</h3>
</a>
<a href="https://www.40fingers.net">
<h4>Head H4</h4>
</a>
<a href="https://www.40fingers.net">
<h5>Head H5</h5>
</a>

<a href="https://www.40fingers.net">
<h6>Head H6</h6>
</a>
<!-- Next -->

<h4 class="block-head">Text in a < div ></h4>
<div>Epsum factorial non <a href="https://www.40fingers.net" target="_blank">www.40fingers.net</a> quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic</div>
<!-- Next -->

<h4 class="block-head">Text Paragraphs < p ></h4>
<p>Epsum factorial non <a href="https://www.40fingers.net" target="_blank">www.40fingers.net</a> quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic</p>
<p>Epsum factorial non <a href="https://www.40fingers.net" target="_blank">www.40fingers.net</a> quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. Souvlaki ignitus carborundum e pluribus unum. Defacto lingo est igpay atinlay. Marquee selectus non provisio incongruous feline nolo contendre. Gratuitous octopus niacin, sodium glutimate. Quote meon an estimate et non interruptus stadium. Sic</p>
<!-- Next -->

<h4 class="block-head">Inline elements</h4>
<p><a href="https://www.40fingers.net">Normal Link</a> ++ <a href="https://www.40fingers.net" target="_blank">Link to new Window</a></p>
<p>This is Normal text</p>
<p><em>This is Italic text < em ></em></p>
<p><b>This is Bold text < b ></b></p>
<p><strong>This is Strong text < strong ></strong></p>
<p><small>This is small text < small ></small></p>

<!-- Next -->



<h4 class="block-head">Table</h4>

<table>
 <caption>Table Caption</caption>
 <thead>
  <tr>
   <th>Header Row 1</th>
   <th>Header Row 2</th>
   <th>Header Row 3</th>
  </tr>
 </thead>
 <tfoot>
  <tr>
   <td>Footer Row 1</td>
   <td>Footer Row 2</td>
   <td>Footer Row 3</td>
  </tr>
 </tfoot>
 <tbody>
  <tr>
   <td>Row1 Cell1</td>
   <td>Row1 Cell2</td>
   <td>Row1 Cell3</td>
  </tr>
  <tr>
   <td>Row2 Cell1</td>
   <td>Row2 Cell2</td>
   <td>Row2 Cell3</td>
  </tr>
  <tr>
   <td>Row3 Cell1</td>
   <td>Row3 Cell2</td>
   <td>Row3 Cell3</td>
  </tr>
  <tr>
   <td colspan="3">Row 4 colspan = 3</td>
  </tr>
 </tbody>
</table>
<!-- Next -->

<h4 class="block-head">Lists</h4>

<ul>
 <li>Unordered Level 1
 <ul>
  <li>Unordered Level 2
  <ul>
   <li>Unordered Level 3</li>
   <li>Unordered Level 3</li>
   <li>Unordered Level 3</li>
  </ul>
  </li>
  <li>Unordered Level 2</li>
  <li>Unordered Level 2</li>
 </ul>
 </li>
 <li>Mulitline test:&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus; sapien id interdum pharetra, ipsum turpis venenatis metus; a pellentesque libero magna eu neque. In a ante et mi mollis porttitor. Maecenas vulputate sapien dui. Nam risus nisl, lacinia quis luctus gravida, ultrices at mauris. Proin convallis faucibus felis. Donec eget eros ligula, ac cursus ipsum. Suspendisse potenti.</li>
 <li>Unordered Level 1</li>
</ul>

<ol>
 <li>Ordered Level 1
 <ol>
  <li>Ordered Level 2
  <ol>
   <li>Ordered Level 3</li>
   <li>Ordered Level 3</li>
   <li>Ordered Level 3</li>
  </ol>
  </li>
  <li>Ordered Level 2</li>
  <li>Ordered Level 2</li>
 </ol>
 </li>
 <li>Mulitline test:&nbsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi rhoncus; sapien id interdum pharetra, ipsum turpis venenatis metus; a pellentesque libero magna eu neque. In a ante et mi mollis porttitor. Maecenas vulputate sapien dui. Nam risus nisl, lacinia quis luctus gravida, ultrices at mauris. Proin convallis faucibus felis. Donec eget eros ligula, ac cursus ipsum. Suspendisse potenti.</li>
 <li>Ordered Level 1</li>
</ol>
<!-- Next -->

<h4 class="block-head">Float Test</h4>

<div style="border:dotted 1px #d00;width:49%;float:left;">
<p><h3>Test your container with floated content</h3></p>

<p>Is users use floats in the content of the HTML module (for example by right-aligning an image), they will most likely not clear these floats.<br />
The effect can be that the content sticks out below the end of the container.</p>

<p>You should add a clear:both to the first element of your container after the Content Pane to make sure that does not happen.</p>
This content helps to test if your container was cleared correctly.<br />
For this test to work this should be the last content in the HTML module!</div>

<div style="border:dotted 1px #d00;width:49%;float:right;">
<p><strong>Dummy Content</strong></p>
In ac urna in eros auctor dictum vitae nec arcu? Curabitur eu dolor sit amet mi pulvinar lacinia. Phasellus dictum congue dui nec condimentum. Duis porttitor elementum quam in hendrerit. Nunc in nunc purus, eu venenatis augue. Integer consequat tincidunt eros ut interdum. Proin id dui et nulla venenatis tristique. Aenean nec nulla est, at egestas leo. Fusce aliquam ipsum sit amet velit dictum sed bibendum massa malesuada. Nullam nec neque lorem, non convallis sem. Proin posuere, urna eget porta venenatis, ante augue facilisis nibh, ullamcorper convallis sapien velit et mi.</div>

<p>&nbsp;</p>

<p>&nbsp;</p>
