{{RegisterScript "js/40fingers.oc-template-name.js"}}

<script>
	 // Get OC template info
	 const ocTemplateInfo = new OpenContentTemplateInfo();
</script>


<div class="oc-template-name" data-oc-info="{{Context.TemplateName}}">
Template Name:<br>"{{Context.TemplateName}}"
</div>

